---
import {SITE_LANGUAGE} from "../consts";
import "@/assets/fonts/ChillRoundF/ChillRoundF.css";
---

<!doctype html>
<html lang={SITE_LANGUAGE}>
<head>
    <slot name="head"></slot>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
      onload="renderMathInElement(document.body, {delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false}
      ]});"></script>
</head>
<body class="dark:bg-gray-950">
<slot />
</body>
</html>

<style is:global>
</style>